/*
1. Link CSS style sheet in HTML <head> tags (DONE)
2. Add style rules for any headings, paragraphs, and links (DONE)
3. Use at least SIX unique CSS properties to style your page 
4. Create at lease THREE unique class or id selectors to style a header on your page 
5. Use border, padding, and margin to update your page layout
*/
body {

  /* background color */
  background-color: beige;
  /* Customize the font, size, and color for text*/
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color: darkgoldenrod;
  text-align: center;

  /* Adjust the padding and margins */
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 25px;

  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 25px;

}

/*
  Style Text: Add style rules for any headings (h1-6),
  paragraphs and links
*/

h1 {
  font-size: 46px;
}

h2 {
  font-size: 36px;
  text-decoration-line: underline;
}

h3 {
  font-size: 26px;
  font-style: italic;
  text-align: left;
}

p {
  font-size: 17px;
  text-align: left;
}
a:hover{
  color:green;
}


/*
  Style Lists: Styles added to the ol or ul style rulesets affect the entire
  list, while styles added to the li style ruleset affect individual list items
*/


ol {}

ol li {
  text-align: left;
}


ul {}

ul li {
  text-align: left;
}


/*
  Style Buttons: Add style rules for any headings (h1-6),
  paragraphs and links
*/
button {
  background-color: sandybrown;
  border: ;
  color: black;
  font-size: 10px;
  text-align: center;
  padding: 9px 20px;
  cursor: pointer;
}

/* Select and style elements by class name or ID */


/* Example: This styles elements with class="header"*/
.header {

  .header2 {
    text-align: center;
  }
}


/* Example: This styles an element with an id="header-img" */
#header-img {}